Path_Diamond.mat filter=lfs diff=lfs merge=lfs -text
Path_Diamond2.mat filter=lfs diff=lfs merge=lfs -text
Path_Triangle.mat filter=lfs diff=lfs merge=lfs -text
quadModel_+.mat filter=lfs diff=lfs merge=lfs -text
Hover.mat filter=lfs diff=lfs merge=lfs -text
IC_attMoreErrorsYaw_w4000.mat filter=lfs diff=lfs merge=lfs -text
IC_HoverAt10ft.mat filter=lfs diff=lfs merge=lfs -text
Path_3mHover.mat filter=lfs diff=lfs merge=lfs -text
IC_attErrors.mat filter=lfs diff=lfs merge=lfs -text
Path_Diamond_1m.mat filter=lfs diff=lfs merge=lfs -text
Path_Team.mat filter=lfs diff=lfs merge=lfs -text
Dynamics[[:space:]]Test.mat filter=lfs diff=lfs merge=lfs -text
IC_attErrors_w4000.mat filter=lfs diff=lfs merge=lfs -text
IC_onground_w4000.mat filter=lfs diff=lfs merge=lfs -text
ICload.mat filter=lfs diff=lfs merge=lfs -text
IC_45yawonground.mat filter=lfs diff=lfs merge=lfs -text
quadModel_X.mat filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.mat filter=lfs diff=lfs merge=lfs -text
